<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Test NG Demo">
    <test name ="multiple tests">
        <classes>
            <class name="org.example.RestTest">
                <methods>
                    <include name="testGetUserName"/>
                    <include name="testUpdatePartial"/>
                    <include name="testPostUser"/>
                    <include name ="jsonUser"/>
                    <include name="testDelete"/>
                </methods>
            </class>
        </classes>>
    </test>
</suite>